header{
  text-align: center;
  color: #f5f5f5; 
}


section{
    text-align: center;
    color: rgb(255, 255, 255)
    ;
}

a{ color: #3a96d4;}


button, .btn {
  padding: 12.5px 36px;
  border: 0;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  font-weight: Bold;
  transition: all 2s;
  -webkit-transition: all 0.5s;
}

button:hover {
  transform: scale(1.2);
  color:rgb(34, 34, 182);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.9);
}

body {
  background-image: url("/IMAGE/Contact-fond.jpg"); /* chemin de ton image */
  background-repeat: no-repeat;             /* empêche la répétition */
  background-size: cover;                   /* l’image couvre tout l’écran */
  background-position: center;              /* centrage de l’image */
  background-attachment: fixed;             /* effet "parallaxe" (l’image ne bouge pas au scroll) */
}

