body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #22223d, #22223d);
    color: #ffffff;
    margin: 0;
    padding: 0;
    line-height:1.6;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: oklab(38.224999999999994% -0.02415 -0.16613 / 0.8);
  padding: 15px 15px;
  border-bottom: 2px solid#4ecca3;
;
}
 

.logo img {
  width: 100px;  
  height: auto;  
}


section {
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
}

section img{
    width: 300px;
    max-width: 95%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.25);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}
section img:hover{
  transform: scale(1.03);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
}



button {
  padding: 12.5px 30px;
  border:0;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.2);
  color:rgb(34, 34, 182);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  transform: scale(0.95);
}


.projets-container {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.projet {
  background-color: #06082f;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 0 5px rgba(3, 240, 240, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(26, 219, 170, 0.6);
}


.projets h2 {
  font-size: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projet h3 {
  margin: 4px;
  font-size: 20px;
}



footer {
   text-align: center;
    padding: 25px;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-top: 2px solid #4ecca3;
    font-size: 15px;
    color: #dcdcdc;


}
