body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: oklab(38.224999999999994% -0.02415 -0.16613 / 0.8);
  padding: 10px 20px;
  border-bottom: 2px solid #276dc2;
  top: 0;
  z-index: 100;
}
 

.logo img {
  width: 100px;   /* change la largeur ici */
  height: auto;  /* garde les proportions */
}


section {
    text-align: center;
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
}

section img{
  width: px;
  height: auto;
}

button, .btn {
  padding: 12.5px 30px;
  border: 0;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
}

button:hover {
  transform: scale(1.2);
  color:rgb(34, 34, 182);
}

button:active {
  background-color: #3d94cf;
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}


.projets-container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.projet {
  background-color: #06082f;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 15px rgba(3, 240, 240, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.projet:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(26, 219, 170, 0.6);
}

.projet i {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: cyan;
}

.projets h2 {
  font-size: 50px;
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.projet h3 {
  margin: 4px;
  font-size: 20px;
}


footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.6);
    border-top: 2px solid #4ecca3;
    width: 100%;
    left:0;
    bottom: 0 ;
    position: fixed;
    color: #cccccc;
    font-size: 0.9em;

}
