body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #1a1a2e, #16213e);
    color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    background-color: oklab(30.334% -0.01911 -0.12388 / 0.85);
    border-bottom: 2px solid #3a506b;
    text-align: center;
}

header h1 {
    font-size: 35px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

header button {
    margin: 8px;
}


section {
    max-width: 900px;
    margin: 50px auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    box-shadow: 0 0 25px rgba(0, 255, 255, 0.1);
    text-align: center;
}

section h3 {
    font-size: 35px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

section p {
    font-size: 20px;
    margin-bottom: 25px;
}


section img {
    width: 450px;
    max-width: 95%;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.25);
    transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.galerie-container img{
   width: 300px;}



section img:hover {
    transform: scale(1.03);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
}

button {
    padding: 12px 30px;
    border: none;
    border-radius: 100px;
    background: white;
    color: black;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
}

button:hover {
    transform: scale(1.15);
    color: rgb(34, 34, 182);
}

button:active {
    transform: scale(0.95);
    background: #3d94cf;
}


footer {
    text-align: center;
    padding: 25px;
    margin-top: 40px;
    background: rgba(0, 0, 0, 0.5);
    border-top: 2px solid #4ecca3;
    font-size: 15px;
    color: #dcdcdc;
}
